# Importing Dependencies

In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.externals import joblib

# Load Data

In [4]:
dataset_url = 'http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
data = pd.read_csv(dataset_url)
data.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

looks like our csv file use semicolon as seprator but it's super simple to fix

In [5]:
data = pd.read_csv(dataset_url, sep=';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Let's take a look at data

In [7]:
data.shape

(1599, 12)

We have 1,599 samples and 12 features, including our target feature. We can easily print some summary statistics.

In [8]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

List of all features:

In [9]:
list(data)

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

# Split Data

In [16]:
y = data.quality #target
X = data.drop('quality', axis=1) #features
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123, stratify=y)
print("Trainning data shape {}".format(X_train.shape))
print("Test data shape {}".format(X_test.shape))

Trainning data shape (1279, 11)
Test data shape (320, 11)

Randomly 20% is for test & rest is for trainning

# Standardization

In [19]:
pipeline = make_pipeline(preprocessing.StandardScaler(), 
                         RandomForestRegressor(n_estimators=100))

# Setting HyperParameters

In [22]:
hyperparameters = { 'randomforestregressor__max_features' : ['auto', 'sqrt', 'log2'],
                  'randomforestregressor__max_depth': [None, 5, 3, 1]}

# Train & Tune via Cross Validation

In [23]:
clf = GridSearchCV(pipeline, hyperparameters, cv=10)
clf.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decr...mators=100, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False))]),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'randomforestregressor__max_features': ['auto', 'sqrt', 'log2'], 'randomforestregressor__max_depth': [None, 5, 3, 1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [24]:
clf.best_params_

{'randomforestregressor__max_depth': None,
 'randomforestregressor__max_features': 'sqrt'}

Refit to get more accuracy

In [25]:
clf.refit

True

# Testing

In [31]:
y_pred = clf.predict(X_test)
print("r2_score: {}".format(r2_score(y_test, y_pred)))
print("mean_squared: {}".format(mean_squared_error(y_test, y_pred)))

r2_score: 0.46820655003329514
mean_squared: 0.3431521875

# Save Model

In [32]:
joblib.dump(clf, 'rf_regressor.pkl')
clf2 = joblib.load('rf_regressor.pkl')
clf2.predict(X_test)

array([6.47, 5.76, 4.98, 5.48, 6.29, 5.49, 4.93, 4.82, 5.  , 6.01, 5.28,
       5.78, 5.79, 5.05, 5.81, 5.73, 6.6 , 5.69, 5.76, 6.95, 5.47, 5.68,
       5.02, 6.12, 5.95, 5.04, 5.38, 5.16, 5.94, 5.93, 5.88, 6.51, 5.98,
       5.01, 5.01, 5.86, 5.01, 6.07, 4.99, 5.85, 4.97, 5.87, 6.68, 5.17,
       6.29, 5.27, 5.58, 5.47, 5.1 , 6.56, 5.83, 5.32, 5.83, 5.16, 5.5 ,
       5.84, 5.38, 5.38, 4.98, 5.31, 5.29, 5.19, 5.07, 5.83, 5.97, 5.33,
       6.42, 5.01, 5.18, 6.73, 5.72, 5.66, 5.02, 5.02, 5.33, 5.97, 5.36,
       5.17, 5.24, 5.26, 6.25, 5.54, 6.15, 6.33, 5.07, 5.97, 6.35, 6.4 ,
       5.81, 5.77, 6.  , 5.34, 6.47, 5.79, 5.73, 5.84, 6.7 , 6.73, 5.47,
       6.73, 5.1 , 5.48, 5.15, 6.45, 5.08, 4.88, 5.69, 5.01, 5.59, 5.96,
       5.84, 5.57, 6.01, 5.39, 5.13, 5.3 , 5.93, 5.14, 4.78, 6.08, 5.82,
       5.09, 5.83, 6.01, 5.26, 5.34, 5.29, 5.97, 5.33, 5.4 , 5.77, 6.25,
       5.15, 5.35, 5.09, 6.3 , 5.03, 5.17, 6.69, 5.49, 5.31, 5.12, 5.67,
       6.04, 5.3 , 5.46, 5.1 , 6.51, 5.79, 5.1 , 5.56, 5.17, 5.01, 4.98,
       5.3 , 5.96, 5.43, 5.75, 5.76, 5.23, 5.57, 5.17, 5.31, 5.84, 5.07,
       6.06, 5.09, 5.34, 5.48, 5.14, 6.03, 5.2 , 5.68, 5.13, 5.54, 5.44,
       5.07, 5.46, 5.63, 5.03, 5.99, 5.46, 5.  , 4.96, 5.19, 6.19, 5.24,
       5.55, 5.23, 4.89, 5.42, 6.62, 5.89, 5.87, 5.41, 5.16, 5.44, 5.09,
       6.32, 4.82, 6.28, 5.07, 5.2 , 5.3 , 6.86, 6.01, 5.26, 5.21, 5.39,
       5.84, 5.89, 5.97, 5.96, 6.26, 5.77, 5.94, 5.3 , 5.32, 5.59, 5.19,
       5.34, 6.04, 6.2 , 5.6 , 5.94, 5.88, 5.36, 6.28, 5.36, 5.77, 5.35,
       5.39, 6.29, 5.91, 4.83, 4.47, 6.74, 6.55, 6.32, 5.23, 5.43, 5.53,
       5.53, 6.15, 5.97, 5.18, 5.19, 5.49, 5.21, 6.38, 5.2 , 5.04, 5.17,
       5.2 , 5.87, 6.4 , 5.71, 5.4 , 5.45, 6.32, 5.54, 6.02, 5.32, 5.13,
       5.66, 5.87, 5.9 , 5.69, 5.36, 5.08, 5.78, 5.44, 6.43, 6.01, 5.59,
       5.16, 5.98, 6.51, 5.97, 5.47, 5.47, 5.38, 5.31, 6.03, 6.89, 5.46,
       6.52, 5.89, 5.38, 5.55, 5.73, 5.15, 5.33, 6.23, 5.85, 5.91, 5.95,
       5.95, 5.46, 5.76, 5.51, 6.32, 5.63, 6.85, 7.  , 5.95, 6.23, 5.01,
       5.29, 5.86, 5.24, 5.26, 6.13, 6.53, 6.4 , 5.27, 5.59, 5.66, 6.15,
       5.39])